<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clubrecordar.recordar2016">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/prueba"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlianzasNacionales"
            android:label="@string/title_activity_alianzas_nacionales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.clubrecordar.recordar2016.MainActivity" />
        </activity>
        <activity android:name=".CourseActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".EventsActivity" />
        <activity
            android:name=".cities.NationalAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BarranquillaAliance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BogotaAlicance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.BoyacaAliance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.CaliAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.CartagenaAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.ValleAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cities.PastoAlianceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailsItem.barranquilla.BarranquillaDetFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".detailsItem.bogota.BogotaDetFirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".detailsItem.national.NationalDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detailsItem.barranquilla.BarranquillaDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetNinthActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".detailsItem.national.NationalDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.national.NationalDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetThirdteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.barranquilla.BarranquillaDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetSixteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetSeventeenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetEighteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetNineteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwentiethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwentyfirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwentysecondActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.bogota.BogotaDetTwentythirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFirstActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.boyaca.BoyacaDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cali.CaliDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.cartagena.CartagenaDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.pasto.PastoDetFifteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetSecActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetThirdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetFourthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetFifthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetSixthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetSeventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetEighthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetNinthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetTenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetEleventhActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetTwelvethActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetThirteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetFourteenthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".detailsItem.valledupar.ValleDetFifteenthActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
